body{
    background-color: #343a40a1;
}

#body{
    display: block;
    width: 100%;
    height: 100%;
}

.line-button{
    background-color: rgba(0, 0, 0, 0);
}

#logo{
    height: 50px;
    margin-left: 20px;
}

#lines{
    height: 40px;
    margin: auto;
}

#insta{
    height: 40px;
}

#menu{
    height: 100vh;
    width: 20%;
    min-width: 250px;
    background-color: #343a40;
    float: left;
    position: absolute;
    z-index: 1000
}

#menu form{
    width: 60%;
    float: right;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 30px;
}

#menu .line-button{
    height: 58px;
    padding: 7px;
    margin-left: 5%;
    margin-top: 20px;
}

#menu .line-button img{
    height: 44px;
}

#wrap{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: #343a4050;
    z-index: 500;
    backdrop-filter: blur(10px);
}

.container{
    margin-left: 10px;
    margin-right: 10px;
    max-width: 2500px;
}

.reviews{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.review{
    margin: 50px 0;
    width: 500px;
    height: 500px;
    background-color: #343a40;
    border-radius: 30px;
    display: inline-block;
}

.review-img{
    height: 500px;
    border-radius: 30px;
}

.review-text{
    display: inline;
    color: white;
    font-size: medium;
    width: 150px;
    height: 500px;
    float: right;
    text-align: center;
    padding: 0 8px;
    margin-right: 10px;
    line-height: 500px;
}

.category{
    background-color: #343a40c0;
    margin: 20px;
    border-radius: 50px;
}

.title-text{
    display: block;
}

.hide{
    display: none;
}

.review-page{
    width: 100%;
    height: 500px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.book{
    width: 100%;
    height: max-content;
    border-right: solid 3px #343a40;
}

.review-page img{
    border: solid 5px #343a40;
    width: 350px;
    display: block;
    margin: auto;
}

.review-page span{
    display: block;
    color: white;
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke: 3px #343a40;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.review-page-textbox{
    margin: auto;
    width: 80%;
    height: 500px;
    background-color: #343a4099;
    border: solid 10px #343a40;
    border-radius: 30px;
}

.review-page-textbox header{
    background-color: #343a40;
    height: 15%;
    margin-bottom: 0;
}

.review-page-textbox header span{
    font-family: 'Times New Roman',serif;
    background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 1%, 
    #f6e27a 8%,
    #f6f2c0 10%,
    #f6e27a 12%,
    #cb9b51 14%,
    #462523 100%
    );
    background-clip: text;
    color: transparent;
    -webkit-background-clip:text;
    -webkit-text-stroke: 0px #343a40;

    height: 60px;
    font-size: 40px;
    margin-top: 0;
    text-align: left;
    padding-top: 5%;
    padding-left: 10px;
}

.review-page-text{
    height: 370px;
    overflow-y: scroll;
    scrollbar-color: #343a40;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    padding-left: 20px;
}

#body form{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 16px;
}

form{
    margin-top: 20px;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

li{
    padding: 5px;
}

span{
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
}

header{
    margin-bottom: 50px;
}

h1{
    -webkit-text-stroke: 0px #343a40;
    padding-top: 20px;
    margin-left: 50px;
    font-family: 'Times New Roman',serif;
    font-weight: normal;
    background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 1%, 
    #f6e27a 8%,
    #f6f2c0 10%,
    #f6e27a 12%,
    #cb9b51 14%,
    #462523 100%
    );
    /*
    background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%, 
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
    );
    */
    color:transparent;
    background-clip: text;
    -webkit-background-clip:text;
}

@media only screen and (max-width: 1839px) 
{
    .reviews{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 1239px) 
{
    .reviews{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 999px) 
{
    .review-page{
        grid-template-columns: 1fr;
    }
    .book{
        border: none;
    }
    .review-page-textbox{
        height: auto;
        margin-top: 80px;
    }
    .review-page-textbox header{
        height: 15vw;
    }
    .review-page-textbox header span{
        font-size: 8vw;
        height: 8vw;
    }
    .review-page-text{
        height: auto;
        font-size: 4vw;
        overflow-y: visible;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 619px) 
{
    .review{
        width: 300px;
        height: 150px;
        margin: 20px 0;
        border-radius: 30px;
    }
    .review-img{
        height: 150px;
    }
    .review-text{
        font-size: 10px;
        width: 185px;
        height: 150px;
        padding: 0 8px;
        margin-right: 10px;
        line-height: 150px;
    }
    span{
        line-height: 13px;
    }
}
